#build {
	padding:0;
	margin:0 auto;
	background-color:#eee;
	width:800px;
	height:400px;
	
	vertical-align:middle;
	
	text-align:center;
	color:#888;
	font-size:20pt;
}

.side_title {

	width: 14em;
	height: 100%;
	background-color: #888888;
	float: left;
}

.top_p_title {

	/*float: left;*/
	height: 12em;
	width: 100%;
	background-color: #f0f0f1;
}

.main_content {

	background-color: #ef0;
}
