@import "reset.css";

#build {
	padding:0;
	margin:0 auto;
	background-color:#eee;
	width:800px;
	height:400px;
	
	vertical-align:middle;
	
	text-align:center;
	color:#888;
	font-size:20pt;
}

.side_title {

	width: 14em;
	height: 100%;
	background-color: #888888;
	float: left;
}

.side_right {
	border: 2px solid #ddd;
}

.top_p_title {

	/*float: left;*/
	height: 12em;
	width: 100%;
	background-color: #f0f0f1;
}

.main_content {

	background-color: #fff;
}

.line_items {
	float: none;
	height: 160px;
	width: 650px;
	margin: 0 0 0 10px;
	padding: 0;
	background-color: #8e8e8e;
}

.square_item {
	/*float: left;*/
	visibility: hidden;
	float: left;
	padding: 0;
	margin: 0;
	width: 160px;
	height: 160px;
	background-color: #3e3e3e;
}
